<div>
  <i style="font-size: 2em;" ng-if="formLoading" ng-class="{'formio-hidden': !formLoading}" class="formio-loading glyphicon glyphicon-refresh glyphicon-spin"></i>
  <formio-wizard ng-if="form.display === 'wizard'" src="src" url="url" form="form" submission="submission" form-action="formAction" read-only="readOnly" hide-components="hideComponents" disable-components="disableComponents" formio-options="formioOptions" storage="form.name" options="options"></formio-wizard>
  <div ng-if="form.display === 'pdf' && form.settings.pdf" style="position:relative;">
    <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert" ng-if="::!options.building">
      {{ alert.message | formioTranslate:null:options.building }}
    </div>
    <span style="position:absolute;right:10px;top:10px;cursor:pointer;" class="btn btn-default no-disable" ng-click="zoomIn()"><span class="glyphicon glyphicon-zoom-in"></span></span>
    <span style="position:absolute;right:10px;top:60px;cursor:pointer;" class="btn btn-default no-disable" ng-click="zoomOut()"><span class="glyphicon glyphicon-zoom-out"></span></span>
    <a ng-if="downloadUrl" style="position:absolute;right:10px;top:110px;cursor:pointer;" class="no-disable" href="{{ downloadUrl | trustAsResourceUrl }}" target="_blank"><img ng-src="{{ pdfImage }}" style="width:3em;" /></a>
    <iframe ng-src="{{ getIframeSrc(form.settings.pdf) | trustAsResourceUrl }}" seamless class="formio-iframe"></iframe>
    <button ng-if="!readOnly && !options.building && isVisibleSubmitButton(form)" type="button" class="btn btn-primary" ng-click="submitIFrameForm()">Submit</button>
    <div ng-if="validationErrorPresent" class="has-error">
      <p class="help-block" onclick="scroll=window.scrollTo(0,0)">
        Please correct all errors before submitting.
      </p>
    </div>
  </div>
  <form ng-if="!form.display || (form.display === 'form')" role="form" name="{{ formName }}" class="formio-form" ng-submit="onSubmit(formioForm)" novalidate>
    <div ng-repeat="alert in formioAlerts track by $index" class="alert alert-{{ alert.type }}" role="alert" ng-if="::!options.building">
      {{ alert.message | formioTranslate:null:options.building }}
    </div>
    <a ng-if="downloadUrl && form.settings.pdf.id" class="pull-right no-disable" href="{{ downloadUrl | trustAsResourceUrl }}" target="_blank"><img ng-src="{{ pdfImage }}" style="width:3em;" /></a>
    <!-- DO NOT PUT "track by $index" HERE SINCE DYNAMICALLY ADDING/REMOVING COMPONENTS WILL BREAK -->
    <formio-component
      ng-repeat="component in form.components track by $index"
      component="component"
      ng-if="options.building ? '::true' : isVisible(component)"
      data="submission.data"
      form-name="formName"
      formio="formio"
      submission="submission"
      hide-components="hideComponents"
      read-only="isDisabled(component, submission.data)"
      options="options"
    ></formio-component>
  </form>
</div>
