<div name="{{ component.key }}" class="formio-data-grid" ng-model="data[component.key]" ng-model-options="{allowInvalid: true}" custom-validator="component.validate.custom" ng-controller="formioDataGrid">
  <table ng-class="{'table-striped': component.striped, 'table-bordered': component.bordered, 'table-hover': component.hover, 'table-condensed': component.condensed}" class="table datagrid-table">
    <thead>
      <tr>
        <th
          ng-repeat="col in cols track by $index"
          ng-class="{'field-required': col.validate.required}"
          ng-if="options.building ? '::true' : anyVisible(col)"
        ><span ng-if="!col.dataGridLabel && (col.input || !col.hideLabel)">{{ col.label | formioTranslate:null:options.building }}</span></th>
        <th style="padding-left: 9px;">
          <div style="padding: 0; margin-bottom: 0;" class="datagrid-add" ng-if="!component.disableAddingRemovingRows && ((!component.hasOwnProperty('validate') || !component.validate.hasOwnProperty('maxLength') || rows.length < component.validate.maxLength) && (component.addAnotherPosition === 'top' || component.addAnotherPosition === 'both'))">
            <a ng-click="(readOnly || formioForm.submitting)? null: addRow() " ng-disabled = "readOnly || formioForm.submitting" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ "" | formioTranslate:null:options.building }}
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows track by $index" ng-init="rowIndex = $index">
        <td ng-repeat="col in cols track by $index" ng-init="col.inDataGrid = true; colIndex = $index" class="formio-data-grid-row" ng-if="options.building ? '::true' : anyVisible(col)">
          <formio-component
            component="col"
            data="rows[rowIndex]"
            form-name="formName"
            formio="formio"
            submission="submission"
            hide-components="hideComponents"
            ng-if="options.building ? '::true' : isVisible(col, row)"
            read-only="isDisabled(col, row)"
            grid-row="rowIndex"
            grid-col="colIndex"
            options="options"
          ></formio-component>
        </td>
        <td ng-if="!component.disableAddingRemovingRows && (!component.hasOwnProperty('validate') || !component.validate.hasOwnProperty('minLength') || rows.length > component.validate.minLength)">
          <a ng-click="(readOnly || formioForm.submitting)? null: removeRow(rowIndex) " ng-disabled = "readOnly || formioForm.submitting" class="btn btn-default datagrid-remove">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="margin-top: 10px" class="datagrid-add" ng-if="!component.disableAddingRemovingRows && ((!component.hasOwnProperty('validate') || !component.validate.hasOwnProperty('maxLength') || !component.validate.maxLength || rows.length < component.validate.maxLength) && (!component.addAnotherPosition || component.addAnotherPosition === 'bottom' || component.addAnotherPosition === 'both'))">
    <a ng-click="(readOnly || formioForm.submitting)? null: addRow() " ng-disabled = "readOnly || formioForm.submitting" class="btn btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{ component.addAnother || "Add Another" | formioTranslate:null:options.building }}
    </a>
  </div>
</div>


