<div class="input-group">
  <input
    type="text"
    class="form-control"
    name="{{ componentId }}"
    id="{{ componentId }}"
    ng-focus="onInputFocus()"
    ng-blur="onBlur($event)"
    ng-click="calendarOpen = true"
    ng-init="calendarOpen = false"
    ng-disabled="readOnly"
    ng-readonly="!allowInput"
    auto-focus="true"
    ng-required="isRequired(component)"
    is-open="calendarOpen"
    datetime-picker="{{ component.format }}"
    datepicker-mode="component.datepickerMode"
    when-closed="onClosed()"
    aria-labelledby="{{ componentId +'Label'}}"
    aria-describedby="{{componentId + 'Desc'}}"
    custom-validator="component.validate.custom"
    enable-date="component.enableDate"
    enable-time="component.enableTime"
    ng-model="_data.value"
    ng-model-options="{allowInvalid: true}"
    tabindex="{{ component.tabindex || 0 }}"
    ng-attr-placeholder="{{ component.placeholder || component.format | formioTranslate:null:options.building }}"
    datepicker-options="component.datePicker"
    timepicker-options="component.timePicker"
    formio-custom-attributes="{{component.attributes}}"
    formio-mask="datetime"
  />
  <span class="input-group-btn">
    <button type="button" ng-disabled="readOnly" class="btn btn-default" ng-click="calendarOpen = true" tabindex="-1" ng-keydown="calendarOpen = onKeyDown($event)">
      <i ng-if="component.enableDate" class="glyphicon glyphicon-calendar"></i>
      <i ng-if="!component.enableDate" class="glyphicon glyphicon-time"></i>
    </button>
  </span>
</div>
